@use './resets';

body {
  padding: 1em;
}
.header {
  grid-area: header;
  img {
    width: 100px;
  }
  @media (min-width: 940px) {
    margin-bottom: 2em;
  }
}
.video-ready {
  grid-area: h1;
}
.header,
.video-ready {
  @media (max-width: 600px) {
    display: none !important;
  }
}
[data-lastpass-icon-root] {
  display: none !important;
}
.new-video-page {
  display: grid;
  grid-template: repeat(4, auto) / repeat(2, auto);
  gap: 1em;
  grid-template-areas: 'name name' 'video video' 'email email' 'copy buttons';

  @media (min-width: 601px) {
    grid-template: repeat(7, auto) / 1fr;
    grid-template-areas: 'header' 'h1' 'name' 'video' 'email' 'copy' 'buttons';
  }
  @media (min-width: 940px) {
    grid-template: repeat(6, auto) / 1fr 2px 1fr;
    grid-template-areas: 'header header header' 'h1 divider video' 'name divider video' 'email divider video' 'copy divider video' 'buttons divider .';
    place-content: center;
  }
  .email-label {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-area: email;
    width: min(100%, 522px);
  }
  .file-name {
    grid-area: name;
  }
  .video-link {
    grid-area: copy;
    @media (min-width: 940px) {
      width: min(100%, 522px);
    }
    h2 {
      margin-top: 1em;
      @media (max-width: 600px) {
        display: none;
      }
    }
    div {
      & > p {
        display: none;
      }

      button {
        display: flex;
        align-items: center;
        gap: 0.65em;
        color: #120b48;
        font-family: var(--font-wsans);
        border: 1px solid #120b48;
        padding: 0.75em 1.3em;
        cursor: pointer;
        font-weight: 500;
        border-radius: 0.75rem;

        @media (min-width: 601px) {
          span {
            display: none;
          }
        }
      }
      @media (min-width: 601px) {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 1em;
        padding: 0.5em;
        align-items: center;
        border: 0.5px solid #929292;
        background-color: #fafafa;
        border-radius: 0.75em;

        button {
          border-radius: 0.45em;
        }
        & > p {
          display: block;
          font-family: var(--font-wsans);
        }
      }
    }
  }
  .share-video-btns {
    grid-area: buttons;
    margin-left: auto;

    h2 {
      @media (max-width: 600px) {
        display: none;
      }
    }
    button {
      span {
        @media (max-width: 600px) {
          display: none;
        }
      }
      img {
        width: 35px;
      }
    }
    display: flex;
    align-items: center;
    gap: 1em;
    @media (min-width: 601px) {
      display: grid;
      grid-template: auto auto / repeat(3, auto) 1fr;
      grid-template-areas: 'header header header header' 'facebook whatsapp telegram .';
      margin-left: 0;
      margin-top: 1em;
      gap: 0 1em;

      h2 {
        grid-area: header;
      }

      button {
        display: flex;
        border: 1px solid #0a0628;
        outline: none;
        border-radius: 0.375rem;
        padding: 0.5em 1em;
        align-items: center;
        gap: 1em;
        cursor: pointer;

        img {
          width: 28px;
        }
        span {
          color: #08051e;
          font-weight: 500;
          font-size: 1.125rem;
        }
      }
      :nth-child(2) {
        grid-area: facebook;
      }
      :nth-child(3) {
        grid-area: whatsapp;
      }
      :nth-child(4) {
        grid-area: telegram;
      }
    }
  }
  video {
    grid-area: video;
    width: 100%;
  }
  .divider {
    grid-area: divider;
    background-color: #d9d9d9;
    width: 100%;
    @media (max-width: 939px) {
      display: none;
    }
  }
}
.about-page {
  background-color: #f4f6f8;
  section {
    background-color: white;
  }
  section:first-child {
    h1 {
      text-align: center;
      margin-bottom: 1em;
    }
    .images {
      img {
        width: 100%;
        margin-bottom: 1em;
        border-radius: 5px;

        &:last-child {
          display: none;
        }
      }
    }
    button {
      margin-inline: auto;
    }
  }
  section:nth-child(2) {
    margin-top: 2em;

    h2 {
      text-align: center;
    }
    h2 + p {
      text-align: center;
      margin-block: 0.3em 1em;
    }
    & > img {
      width: 100%;
    }
    .features {
      .feature {
        margin-top: 2.5em;
        display: grid;
        grid-template: repeat(2, auto) / auto 1fr;
        grid-template-areas: 'img header' 'content content';
        align-items: center;
        gap: 0.6em 1em;
        img {
          width: 35px;
          grid-area: img;
        }
        h3 {
          font-weight: 600;
          font-size: 1.125rem;
          color: #1b233d;
          grid-area: header;
        }
        p {
          color: #616163;
          grid-area: content;
        }
      }
    }
  }
}
